.submit {
    display: flex;
    gap: 16px;
    width: 377px;

    .item {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;

        &-desc {
            @include font($first-font, $fs-md, $font-semibold, $catalina-blue);
        }
    }
}